.DS_Store
*.pyc
*.user
*.egg-info
.idea
/build/
/dist/
/__pycache__/
/venv/

linktools*/build/
linktools*/dist/
linktools*/src/linktools/__init__.py
linktools*/src/linktools/assets/__init__.py
linktools*/src/linktools/commands/__init__.py
linktools*/src/linktools/references/__init__.py
linktools*/src/linktools/capabilities/*.py
