theme: light

default_redirection_url: {{ NGINX_INDEX_URL }}

server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64
  disable_reset_password: true

session:
  name: session
  expiration: 3600
  inactivity: 300
  domain: {{ NGINX_ROOT_DOMAIN }}

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
