theme: light

server:
  address: tcp4://0.0.0.0:9091/

log:
  level: debug

authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 5m
  ldap:
    implementation: custom
    timeout: 5s
    start_tls: false
    attributes:
      username: uid
      display_name: displayName
      group_name: cn
      mail: mail
    additional_users_dn: ou=people
    users_filter: "(&({username_attribute}={input})(objectClass=person))"
    additional_groups_dn: ou=groups
    groups_filter: "(member={dn})"

session:
  name: main_session
  inactivity: 5m
  expiration: 1h
  remember_me: 1M
  cookies:
    - domain: {{ NGINX_ROOT_DOMAIN }}
      authelia_url: https://{{ AUTHELIA_DOMAIN }}:{{ NGINX_HTTPS_PORT }}
      default_redirection_url: https://{{ AUTHELIA_DOMAIN }}:{{ NGINX_HTTPS_PORT }}/settings

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
