theme: light

server:
  address: tcp4://0.0.0.0:9091/

log:
  level: debug

authentication_backend:
  disable_reset_password: true
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64

session:
  name: main_session
  inactivity: 5m
  expiration: 1h
  remember_me: 1M
  cookies:
    - domain: {{ NGINX_ROOT_DOMAIN }}
      authelia_url: https://{{ AUTHELIA_DOMAIN }}:{{ NGINX_HTTPS_PORT }}
      default_redirection_url: https://{{ AUTHELIA_DOMAIN }}:{{ NGINX_HTTPS_PORT }}/settings

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
