#!/usr/bin/env python3
# -*- coding: utf-8 -*-

__name__ = "{{ config.get('project', 'name') }}"
__version__ = "{{ version }}"
__release__ = {{ "True" if release else "False" }}
__develop__ = {{ "True" if develop else "False" }}
__capability_group__ = "{{ const.capability_entrypoint }}"
__scripts_group__ = "{{ const.scripts_entrypoint }}"
__description__ = f"""\
    ___       __   __              __
   / (_)___  / /__/ /_____  ____  / /____
  / / / __ \\/ //_/ __/ __ \\/ __ \\/ / ___/  {{ config.get('project', 'name') }} toolkit (v{{ version }})
 / / / / / / ,< / /_/ /_/ / /_/ / (__  )   by: {{ config.get('project', 'authors')[0]['name'] }} <{{ config.get('project', 'authors')[0]['email'] }}>
/_/_/_/ /_/_/|_|\\__/\\____/\\____/_/____/
"""
